// First section
.hero {
    margin: 100px 0;
    display: flex;

    .hero--left {
        max-width: 540px;
        margin-right: 30px;

        .title {
            font-size: 50px;
            line-height: 1.4;
            margin-bottom: 30px;
        }

        .text {
            font-size: 1.37rem;
            line-height: 33px;
            margin-bottom: 30px;
        }
    }

    .hero--right {
        max-width: 570px;

        img {
            width: 100%;
        }
    }
}

// Second section
.traditional {
    background-color: $hero;
    flex-direction: column;
    @include flexCenter;
    padding: 50px 0;

    .title {
        text-align: center;
    }

    .row {
        flex-wrap: wrap;
        @include flexCenter;
        margin-top: 30px;

        .box {
            width: 20%;
            margin: 20px;
            flex-direction: column;
            text-align: center;
            @include flexCenter;

            img {
                width: 140px;
                height: 105px;
                margin-bottom: 20px;
            }

            .safe {
                width: 50px;
            }
        }

        .figs {
            justify-content: space-around;
        }

        .closing {
            max-width: 280px;
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }
    }
}

// Third section
.how-it-works {
    display: flex;
    flex-direction: column;
    margin: 50px 0;

    .row {
        @include flexCenter(flex-start);
        align-items: start;
        margin: 30px 150px;

        img {
            max-width: 768px;
        }

        .info {
            margin: 0 30px;
            max-width: 460px;
            font-size: 22px;
            line-height: 33px;
            align-self: start;

            a {
                color: $link;
                display: block;
                margin: 30px 0;
            }

            figure {
                text-align: center;

                img {
                    max-width: 270px;
                }
            }
        }

        &.end {
            @include flexCenter(flex-end);
        }
    }
}

// Fourth section
.cta {
    @include flexCenter;
    flex-direction: column;
    background-color: $hero;

    .title {
        display: inline-block;
    }

    .emoticon {
        width: 36px;
        height: 36px;
        display: inline-block;
    }

    .box {
        max-width: 628px;
        margin: 35px auto;
        padding: 20px 20px 20px 40px;
        border: 1px solid #bdb5af;
        border-radius: 7px;
        background: #fff;
        box-sizing: border-box;
        font-size: 0.875rem;
        line-height: 1.5;

        p {
            margin: 15px 0;
            font-size: 16px;
            line-height: 24px;
        }

        a {
            color: $link;
        }

        .founders {
            @include flexCenter(flex-start);

            span {
                display: block;
            }
        }

        .pic {
            margin: 10px;

            img {
                width: 38px;
                height: 38px;
            }
        }
    }
}
