// First section
.hero {
    margin: 100px 0;
    display: flex;

    .hero--left {
        max-width: 540px;
        margin-right: 30px;

        .title {
            font-size: 50px;
            line-height: 1.4;
            margin-bottom: 30px;
        }

        .text {
            font-size: 1.37rem;
            line-height: 33px;
            margin-bottom: 30px;
        }
    }

    .hero--right {
        max-width: 570px;

        img {
            width: 100%;
        }
    }
}

// Second section
.traditional {
    background-color: $hero;
    flex-direction: column;
    @include flexCenter;
    padding: 50px 0;

    .title {
        text-align: center;
    }

    .row {
        flex-wrap: wrap;
        @include flexCenter;
        margin-top: 30px;

        .box {
            width: 20%;
            margin: 20px;
            flex-direction: column;
            text-align: center;
            @include flexCenter;

            img {
                width: 140px;
                height: 105px;
                margin-bottom: 20px;
            }

            .safe {
                width: 50px;
            }
        }

        .figs {
            justify-content: space-around;
        }

        .closing {
            max-width: 280px;
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }
    }
}

// Third section
.how-it-works {
    display: flex;
    flex-direction: column;
    margin: 50px 0;

    .row {
        @include flexCenter(flex-start);
        align-items: start;
        margin: 30px 150px;

        img {
            max-width: 768px;
        }

        .info {
            margin: 0 30px;
            max-width: 460px;
            font-size: 22px;
            line-height: 33px;
            align-self: start;

            a {
                color: #30488f;
                display: block;
                margin: 30px 0;
            }

            figure {
                text-align: center;

                img {
                    max-width: 270px;
                }
            }
        }

        &.end {
            @include flexCenter(flex-end);
        }
    }
}
