* {
    margin: 0;
    padding: 0;

    &::selection {
        background: #cfd7ef;
        text-shadow: none;
    }
}

body {
    font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
    color: $main-font;
}
