// Colors
$main-font: #58402c;
$second-font: #8a5b8f;
$link: #30488f;
$hero: #ffe7d2;

$main-btn: #30488f;
$secondary: #58402c;

// Mixin
@mixin flexCenter($jc: center) {
    display: flex;
    align-items: center;
    justify-content: $jc;
}
